In [2]:
fruits = ['apple', 'orange', 'banana', 'papaya']
fruits[0]

'apple'

In [3]:
fruits[1:3]

['orange', 'banana']

In [4]:
fruits[0:3]

['apple', 'orange', 'banana']

In [5]:
fruits[-1]

'papaya'

In [6]:
len( fruits )

4

In [7]:
seasonal_fruits = ['mango', 'cherry', 'watermelon']
all_fruits = fruits + seasonal_fruits
all_fruits

['apple', 'orange', 'banana', 'papaya', 'mango', 'cherry', 'watermelon']

In [9]:
'banana' in all_fruits

True

In [10]:
'grapes' in fruits

False

In [11]:
all_fruits.index( 'banana' )

2

In [14]:
all_fruits.append( 'grapes' )

In [15]:
all_fruits

['apple',
 'orange',
 'banana',
 'papaya',
 'mango',
 'cherry',
 'watermelon',
 'grapes',
 'grapes',
 'grapes',
 'grapes']

In [17]:
a = [1,1,2,4,5,6,7]
a

[1, 1, 2, 4, 5, 6, 7]

In [18]:
min(a)

1

In [19]:
max(a)

7

In [20]:
a.count( 1 )

2

In [21]:
a.insert( 3, 3 )
a

[1, 1, 2, 3, 4, 5, 6, 7]

In [22]:
a.insert( 3, 4 )
a
a.reverse()
a

[7, 6, 5, 4, 3, 4, 2, 1, 1]

In [23]:

a.sort()
a

[1, 1, 2, 3, 4, 4, 5, 6, 7]

In [24]:
b = set( [6,1,1,2,4,5] )
b

{1, 2, 4, 5, 6}

In [25]:
b.add( 3 )
b

{1, 2, 3, 4, 5, 6}

In [26]:
c = set( [2,4,6,7] )
c.union( b )

{1, 2, 3, 4, 5, 6, 7}

In [27]:
b.intersection( c )

{2, 4, 6}

In [28]:
c.difference( b )

{7}

In [29]:
b.remove
b

{1, 2, 3, 4, 5, 6}

In [30]:
b.clear()
b

set()

In [31]:
for i in a:
  print( i * 2 )
for i in b:
  print( i )
b

2
2
4
6
8
8
10
12
14

set()

In [32]:
d0 = {}
d1 = dict( { 'One': 1, 'Two':2 } );
d1

{'One': 1, 'Two': 2}

In [33]:
d0['One'] = 1
d0['OneTwo'] = 12
print( d0 );

d0['One']

{'One': 1, 'OneTwo': 12}

1

In [34]:
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]

d2 = dict( zip(names,numbers) );

print( d2 );

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

In [37]:
d2.keys()

dict_keys(['One', 'Two', 'Three', 'Four', 'Five'])

In [38]:
d2.values()

dict_values([1, 2, 3, 4, 5])

In [41]:
d2['six'] = 6
d2

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'six': 6}

In [42]:
d2.pop( 'six' )
d2

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}